/*navigation bar (uniform across all main pages)*/
#top-direct, button{
  color: white;
  background-color: black;
  font-family: Monaco, sans-serif;
  font-size: 9px;
  margin: 0 auto;
}
#top-direct{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
button{
  padding: 13px;
  border: 0;
  font-weight: bold;
  font-size: 15px
}
.nav-button:hover{
  background-color: #545966;
}
h1{
  display: inline-block;
}
#name-title{
  margin-left: 25px;
}
.nav-button{
  margin-left: 30px;
  float: right
}
#contact{
  margin-right: 25px;
}
/*end of navigation bar*/
