h1, p{
  font-family: 'Trebuchet MS', san-serif;
  text-align: center;
  color: #32a838;
}

h1{
  padding-top: 250px;
  font-size: 24px;
}

.check{
  margin-top: -190px !important;
}

.copyright{
  font-size: 14px;
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 10; /* to ensure no overlapping occurs (i had to look that up lol) */
}
