h1, p{
  font-family: 'Trebuchet MS', san-serif;
  text-align: center;
  color: #32a838;
}

h1{
  padding-top: 200px;
  font-size: 24px;
}

.check{
  margin-top: -175px !important;
}

.copyright{
  font-size: 14px;
  color: black;
  bottom: 0;
  left: 0;
  z-index: 10;
}
