h1, h2, p{
  font-family: 'Trebuchet MS', san-serif;
  text-align: center;
  padding-top: 100px;
}

h1, h2{
  font-size: 24px;
  color: #32a838;
}

h2{
  padding-bottom: 50px;
}

.copyright p{
  font-size: 14px;
  color: black;
}
