*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  /*home - opening*/
  #bg-2{
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
  }
  #pfp{
    position: fixed;
    top: 34%;
    right: 30%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: right top;
    border-radius: 100%;
    background-color: #2b2218;
    border: 10px solid #2b2218;
    opacity: 0%;
    animation: opening-slide 1s linear 2.5s forwards;
  }
  #cog1{
    position: absolute;
    top: 35%;
    opacity: 50%;
    right: 0%;
    z-index: -1;
    width: 1000px;
    height: 1000px;
    object-fit: cover;
    animation: cog-spin 5s linear 0s infinite;
  }
  #intro-1, #intro-2{
    font-size: 70px;
    font-family: Oxygen, sans-serif;
    opacity: 0%;
    animation: opening-slide 1s linear 0.5s forwards;
  }
  #intro-1{
    position: fixed;
    left: 30%;
    top: 35.8%;
  }
  #intro-2{
    position: fixed;
    left: 30%;
    top: 45.8%;
  }
  #name{
    color: #2b2218;
  }
  #desc div{
    font-family: Oxygen, sans-serif;
    display: inline-block;
    position: absolute;
    top: 49%;
    left: 30.2%;
    z-index: -1;
    opacity: 0%;
    animation: opening-fade 1s linear 1.5s forwards;
  }
  .front-page-fa{
    position: absolute;
    top: 54%;
    left: 30%;
    padding: 10px;
    border-radius: 100%;
    text-decoration: none;
    opacity: 0;
    animation: opening-fade 1s linear 1.5s forwards;
  }
  .front-page-fa:hover{
    color: #2b2218;
    background-color: #bfbfbf;
  }
  .fa-linkedin{
    position: absolute;
    left: 33%;
    color: white;
    background-color: #2b2218;
  }
  .fa-github{
    color: white;
    background-color: #2b2218;
  }
  #about-me-button{
    position: absolute;
    padding-top: 8px;
    top: 54%;
    left: 36%;
    background-color: #2b2218;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-family: Oxygen, sans-serif;
    color: white;
    opacity: 0%;
    animation: opening-fade 1s linear 1.5s forwards;
  }
  #about-me-button:hover{
    background-color: #bfbfbf;
    color: #2b2218;
  }
  @keyframes opening-fade{
    0%{
      opacity: 0%;
    }
    25%{
      opacity: 25%;
    }
    50%{
      opacity: 50%;
    }
    75%{
      opacity: 75%;
    }
    100%{
      opacity: 100%;
    }
  }
  @keyframes opening-slide{
    0%{
      opacity: 0%;
      transform: translateY(-10px);
    }
    50%{
      opacity: 50%;
      transform: translateY(-5px);
    }
    100%{
      opacity: 100%;
      transform: translateY(0px);
    }}
  @media only screen and (max-width: 1200px){
    #intro-1, #intro-2{
      font-size: 50px;
      font-family: Oxygen, sans-serif;
    }
    #intro-1{
      top: 38.8%;
      left: 24%;
    }
    #intro-2{
      top: 45.8%;
      left: 24%;
    }
    #pfp{
      top: 36%;
      right: 17%;
      width: 200px;
      height: 200px;
      border: 8px solid #2b2218;
    }
    #desc div{
      top: 46%;
      left: 24%;
    }
    .fa{
      top: 50%;
      left: 24%;
    }
    .fa-linkedin{
      left: 30%;}
    #about-me-button{
      top: 49.9%;
      left: 37%;
    }
  }
  @media screen and (max-width: 800px){
    #bg-2{
      text-align: center;
    }
    #intro-1, #intro-2{
      font-size: 45px;
      font-family: Oxygen, sans-serif;
    }
    #intro-1{
      top: 48.8%;
      left: 0%;
      right: 0%;
      margin: auto;
    }
    #intro-2{
      top: 55.8%;
      left: 0%;
      right: 0%;
      margin: auto;
    }
    #pfp{
      top: 24%;
      left: 0%;
      right: 0%;
      margin: auto;
    }
    #desc div{
      top: 56%;
      left: 0%;
      right: 0%;
      margin: auto;
    }
    .fa{
      top: 60%;
      left: 40%;
    }
    .fa-linkedin{
      left: 52%;
    }
    #about-me-button{
      top: 65%;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      width: 100px;
      height: 30px;
    }
  }
@media only screen and (min-height: 600px) and (max-height: 750px) and (min-width: 270px){
  #pfp{
      top: 24%;
      left: 0%;
      right: 0%;
      margin: auto;
      width: 150px;
      height: 150px;
    }
  #intro-1, #intro-2{
    font-size: 40px;
    font-family: Oxygen, sans-serif;
  }
  #desc div{
    font-family: Oxygen, sans-serif;
    display: inline-block;
    position: absolute;
    top: 53%;
  }
  .fa{
      top: 58%;
      left: 40%;
    }
  .fa-linkedin{
      left: 50%;
  }
  #about-me-button{
      top: 65%;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      width: 100px;
      height: 30px;
  }
}
  @keyframes cog-spin{
    0%{
      transform: rotate(0deg);
    }
    25%{
      transform: rotate(90deg);
    }
    50%{
      transform: rotate(180deg);
    }
    75%{
      transform: rotate(270deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  /*home* - about me*/
  #bg-1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background-color: #2e2e2e;
    z-index: 1;
  }
  #about-title-card{
    position: absolute;
    top: 31%;
    left: 23%;
    font-size: 25px;
    font-family: Oxygen, sans-serif;
    color:white;
    text-align: center;
  }
  .desc{
    position: absolute;
    top: 36%;
    left: 23%;
    font-size: 18px;
    font-family: Oxygen, sans-serif;
    color:white;
    text-align: left;
    width: 500px;
  }
  #desc-para-2{
    position: absolute;
    top: 58%;
  }
  #desc-pic{
    position: absolute;
    top: 32.5%;
    right: 25%;
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  footer{
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 10px;
    color: white;
    opacity: 50%;
  }
  .scroll{
    opacity: 0%;
    transition: 1s;
  }
  .scroll-appear{
    opacity: 100%;
    animation: scroll-movement 0s linear 1.5s forwards;
  }
  @keyframes scroll-movement{
    0%{
      opacity: 0%;
    }
    50%{
      opacity: 50%;
    }
    100%{
      opacity: 100%;
    }
  }
  @media screen and (max-width: 1200px){
    #about-title-card{
      top: 15%;
      margin: auto;
      left: 0;
      right: 0;
      font-size: 16px;
    }
    .desc{
      top: 19%;
      margin: auto;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 12px;
      width: 370px;
    }
    #desc-para-2{
      top: 33%;
    }
    #desc-pic{
      top: 47%;
      right: 25%;
      width: 300px;
      height: 300px;
      margin: auto;
      left: 0;
      right: 0;
  }
}
@media only screen and (min-height: 600px) and (max-height: 750px) and (min-width: 270px){
  #about-title-card{
      top: 18%;
      margin: auto;
      left: 0;
      right: 0;
      font-size: 16px;
  }
  .desc{
      top: 24%;
  }
  #desc-para-2{
    position: absolute;
    top: 52%;
  }
  #desc-pic{
    position: absolute;
    top: 60%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
/* project page */
#bg-color{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #16161a;
}
#pro-title{
  position: absolute;
  top: 9%;
  left: 1%;
  font-family: Oxygen, sans-serif;
  color:white;
  font-size:40px;
  opacity: 0%;
  animation: opening-slide 1s linear 0s forwards;
}
#pro-desc{
  position: absolute;
  top: 15%;
  left: 1%;
  font-family: Oxygen, sans-serif;
  color:white;
  font-size: 20px;
  opacity: 0%;
  animation: opening-slide 1s linear 1s forwards;
}
#ongoing-pro, #past-pro{
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin:auto;
  font-family: Oxygen, sans-serif;
  color:white;
  font-size: 18px;
  text-align: center;
  opacity: 0%;
  animation: opening-fade 0.5s linear 2s forwards;
}
#past-pro{
  top: 50%;
}
.pro-btn{
  width: 300px;
  height: 180px;
  background-color: #111114;
  border-radius: 10px;
  border: solid 3px #464652;
}
#ongoing-pro-btns{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 25px;
}
#past-pro-btns{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 25px;
}
.spacer{
  padding-top: 25px;
}
.pro-icon{
  height: 70px;
  width: 70px;
  object-fit: contain;
}
.pro-title{
  color: white;
  font-family: Oxygen, sans-serif;
  width: 150px;
  font-size: 20px;
}
.pro-icon, .pro-title{
  padding-top: 15px;
  display: inline-block;
}
.btn-contents{
  text-align: center;
  margin: 0 auto;
}
.border{
  width: 50px;
  height: 15px;
  text-align: center;
  margin: 0 auto;
  border-bottom: solid 2px #464652;
}
.pro-button-desc{
  padding-top: 10px;
}
.btn-links, .btn-links-blank{
  color: white;
  text-decoration: none;
}
.pro-btn:hover{
  background-color:#464652;
}
#aq-project{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 3;
  background-color: #16161a;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
#aq-project-popup{
  font-family: Oxygen, sans-serif;
}

#aq-project-popup h3{
  color: white;
}
#aq-project-bg{
  position: absolute;
  background: black;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 50%;
}
.btn-links button, #exit-button{
  background-color: #111114;
  border: solid 3px #464652;
  color: white;
  font-family: Oxygen, sans-serif;
  border-radius: 10px;
}
.btn-links button:hover{
  background-color: #464652;
  color: #111114;
  cursor: pointer;
}
#exit-button:hover{
  background-color: #464652;
  color: #111114;
  cursor: pointer;
}
#exit-button{
  position: absolute;
  top: 3%;
  right: 3%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  font-style: bold;
}
.btn-links button{
  width: 200px;
  height: 50px;
  font-size: 18px;
}
#aq-project h3{
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  font-size: 20px;
  width: 200px;
  text-align: center;
  margin: auto;
}
#lab-btn{
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
#aq-doc-btn{
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.hidden{
  display: none;
}
@media screen and (max-width: 800px){
  #pro-title{
    position: absolute;
    top: 9%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size:30px;
    text-align: center;
  }
  #pro-desc{
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 16px;
  }
  #ongoing-pro, #past-pro{
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  }
  .spacer{
  padding-top: 30px;
  }
  .pro-btn{
  width: 250px;
  height: 150px;
  }
  .pro-icon{
  height: 50px;
  width: 50px;
  object-fit: contain;
  }
  .pro-title{
  width: 150px;
  font-size: 18px;
  }
  .pro-button-desc{
  font-size: 14px;
  }
  #proj-footer{
    background-color: #16161a;
    position: absolute;
    bottom: -25%;
    left: 0;
    right: 0;
    padding-top: 100%;
    z-index: -1;
  }
}
@media only screen and (min-height: 600px) and (max-height: 750px) and (min-width: 270px){
  #pro-title{
    top: 12%;
  }
  #pro-desc{
    top: 20%;
    width: 290px;
  }
  #ongoing-pro, #past-pro{
  padding-top: 90px;
  }
  .spacer{
  padding-top: 30px;
  }
  #past-pro{
    padding-top: 130px;
  }
  #proj-footer{
    bottom: -65%;
    padding-top: 250%;
  }
}
@media only screen and (max-height: 700px) and (min-width: 900px) and (min-width: 900px) and (max-width: 1050px){
  #pro-title{
    top: 15%;
    font-size: 30px;
  }
  #pro-desc{
    top: 23%;
    font-size: 18px;
  }
  #ongoing-pro, #past-pro{
    padding-top: 60px;
    font-size: 15px;
  }
  .spacer{
    padding-top: 30px;
  }
  .pro-btn{
  width: 250px;
  height: 150px;
  }
  #past-pro{
    padding-top: 130px;
  }
  .pro-icon{
  height: 50px;
  width: 50px;
  object-fit: contain;
  }
  .pro-title{
  width: 150px;
  font-size: 18px;
  }
  .pro-button-desc{
  font-size: 14px;
  }
  #proj-footer{
    position: absolute;
    bottom: -20%;
    left: 0;
    right: 0;
    padding-top: 100%;
    background-color: #16161a;
    z-index: -1;
  }
}
@media only screen and (min-height: 845px) and (max-height: 850px) and (max-width: 1350px){
  #pro-title{
    top: 12%;
    font-size: 33px;
  }
  #pro-desc{
    top: 18%;
  }
  #ongoing-pro, #past-pro{
    padding-top: 40px;
    font-size: 15px;
  }
  .spacer{
    padding-top: 30px;
  }
  .pro-btn{
  width: 250px;
  height: 150px;
  }
  .pro-icon{
  height: 50px;
  width: 50px;
  object-fit: contain;
  }
  .pro-title{
  width: 150px;
  font-size: 18px;
  }
  .pro-button-desc{
  font-size: 14px;
  }
  #past-pro{
    padding-top: 60px;
}
}
/* contacts page */
#contacts-bg{
  position: absolute;
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  z-index: -2;
}
#contacts-title{
  position: absolute;
  top: 18%;
  left: 0%;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 50px;
  font-family: Oxygen, sans-serif;
  color: white;
  opacity: 0%;
  animation: opening-slide 1s linear 0s forwards;
}
#contacts-title2{
  position: absolute;
  top: 25%;
  left: 0%;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-family: Oxygen, sans-serif;
  color: white;
  opacity: 0%;
  animation: opening-slide 1s linear 1s forwards;
}
.link-btns{
  margin: auto;
  text-align: center;
  height: 100px;
  width: 100px;
  color: white;
}
.link-btns{
  text-align: center;
  height: 100px;
  width: 100px;
  color: white;
}
#sms-links{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 700px;
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  gap: 100px;
}
#linkedin-link{
  height: 100px;
  width: 100px;
  background-color: #2b2218;
  border-radius: 100%;
  opacity: 0%;
  animation: opening-slide 0.5s linear 2s forwards;
}
#linkedin-link img{
  padding-top: 20px;
  height: 55px;
  width: 55px;
  margin: auto;
  text-align: center;
  filter: brightness(500%) invert(100%); 
}
#github-link{
  height: 100px;
  width: 100px;
  background-color: #2b2218;
  border-radius: 100%;
  opacity: 0%;
  animation: opening-slide 0.5s linear 2.5s forwards;
}
#github-link img{
  padding-top: 9px;
  height: 80px;
  width: 80px;
  margin: auto;
  text-align: center;
  filter: brightness(500%) invert(100%); 
}
#email-link{
  height: 100px;
  width: 100px;
  background-color: #2b2218;
  border-radius: 100%;
  opacity: 0%;
  animation: opening-slide 0.5s linear 3s forwards;
}
#email-link img{
  padding-top: 20px;
  height: 60px;
  width: 60px;
  top: 20%;
  margin: auto;
  text-align: center;
  filter: brightness(500%) invert(100%);
}
#linkedin-link:hover{
  background-color: #787777;
  cursor: pointer;
}
#github-link:hover{
  background-color: #787777;
  cursor: pointer;
}
#email-link:hover{
  background-color: #787777;
  cursor: pointer;
}
#resume{
  display: inline-flex;
  position: absolute;
  top: 63.5%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: left;
  width: 800px;
}
#resume-bg, #resume{
  opacity: 0%;
  animation: opening-fade 0.5s linear 3.5s forwards;
}
#resume h2{
  font-family: Oxygen, sans-serif;
  color: white;
  width: 600px;
  font-size: 30px;
}
#resume-dl-btn{
  background-color: #2b2218;
  height: 80px;
  width: 250px;
  border-radius: 10px;
}
#resume-dl-btn:hover{
  background-color: #787777;
  cursor: pointer;
}
#resume-bg{
  position: absolute;
  background-color: #575757;
  width: 1000px;
  height: 150px;
  z-index: -1;
  top: 60%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
}
#contacts-bg footer{
  color: white;
  opacity: 100%;
  font-family: Oxygen, sans-serif;
  font-size: 10px;
}
#resume-dl-btn h2{
  position: absolute;
  top: 30%;
  padding-left: 37.5px;
  font-size: 25px;
}
#the-actual-bg{
  position: absolute;
  background: url("https://www.axpo.com/content/dam/axpo19/master/images-master/media-releases/2022/2205_Windpark_Arcy.jpg.stories.82.1280.jpeg?77268106");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -2;
  filter: saturate(0%) brightness(50%);
}
@media only screen and (max-width: 900px) and (max-height: 1200px){
  #contacts-title{
    top: 18%;
    font-size: 50px;
    }
    #contacts-title2{
    top: 25%;
    font-size: 28px;
    }
    #resume-bg{
    width: 665px;
    height: 150px;
    }
    #resume{
    top: 62.5%;
    width: 430px;
    }
    #resume h2{
    width: 360px;
    font-size: 20px;
    }
    #resume-dl-btn{
    height: 80px;
    width: 190px;
    border-radius: 10px;
    }
    #resume-dl-btn h2{
    top: 25%;
    padding-left: 22px;
    font-size: 20px;
    }
    
}
@media only screen and (min-width: 1200px){
  #contacts-title{
    top: 18%;
    font-size: 50px;
    }
    #contacts-title2{
    top: 25%;
    font-size: 28px;
    }
    #resume-bg{
    width: 665px;
    height: 150px;
    }
    #resume{
    top: 62.5%;
    width: 430px;
    }
    #resume h2{
    width: 360px;
    font-size: 20px;
    }
    #resume-dl-btn{
    height: 80px;
    width: 190px;
    border-radius: 10px;
    }
    #resume-dl-btn h2{
    top: 25%;
    padding-left: 22px;
    font-size: 20px;
    }
    
}
@media screen and (max-width: 800px){
  #contacts-title{
    top: 18%;
    font-size: 30px;
    }
    #contacts-title2{
    top: 23%;
    font-size: 18px;
    }
    .link-btns{
    height: 50px;
    width: 70px;
    }
    #sms-links{
    flex-direction: column reverse;
    flex-wrap: nowrap;
    width: 0;
    top: 50%;
    gap: 60px;
    }
    #resume{
    top: 82%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
    width: 330px;
    }
    #resume h2{
    width: 175px;
    font-size: 14px;
    }
    #resume-dl-btn{
    height: 60px;
    width: 140px;
    border-radius: 10px;
    }
    #resume-bg{
    width: 365px;
    height: 100px;
    top: 80%;
    }
    #resume-dl-btn h2{
    top: 35%;
    padding-left: 22px;
    font-size: 14px;
    }
}
