*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*home page*/
body{
  font-family: "Kanit", "Courier New";
  background-color: black;
}
#name, #bottom-text, #img-caption, #timeline-title{
  text-align: center;
}
#home-gif{
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  opacity: 55%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#img-div{
  text-align: center;
}
#gif-text{
  position: relative;
  color: white;
  text-align: center;
  font-family: "Kanit", "Courier New"; 
  padding: 280px 100px;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
#gif-text h1{
  font-size: 75px;
}
#desc{
  padding-top: 20px;
}
#spacer{
  padding: 20px;
}
@media screen and (max-width: 800px){
  #gif-text{
  font-size: 75%;
  padding: 154px 60px;
  }
  #gif-text h1{
    font-size: 35px;
    padding-top: 150px;
    padding-right: 10px;
  }
}
/*life page*/
#top-gif img{
  height: 50vh;
  width: 100vw;
  z-index: 45;
}
#top-text{
  color: white;
  font-family: "Kanit", sans-serif;
  height: 50vh;
  width: 50vw;
}
#top-text h1{
  font-size: 50px;
}
#top-text h2{
  padding-left: 16px;
  padding-bottom: 20px;
}
#the-text{
  position: absolute;
  top: 50%;
  width: 100%;
}
/*credit to Raman Sharma for the fade in animation*/
.fadeInUp{animation:fadeInUp 2s ease backwards;}
@keyframes fadeInUp{
  0%{transform:translate(0px, 100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}
/*end of animation command*/
/*timeline*/
#tribute-info{
  background: linear-gradient(black 10%, #070930 90%);
  text-align: center;
}
#tribute-info p{
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  padding-bottom: 300px;
}
#sixth-event p{
  padding-bottom: 0;
  width: 700px;
  margin: 0 auto;
}
.bold{
  font-weight: 700;
}
#third-event, #fourth-event, #fifth-event{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
#third-spacing, #fourth-spacing, #fifth-spacing{
  width: 450px;
}

#third-event img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-left: 20px;
}
#fourth-event img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-left: 20px;
}
#fifth-event img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-right: 60px;
}
#sixth-event img{
  padding-top: 30px;
  width: 420px;
  height: 300px;
}
#disclaimer{
  background-color: #070930;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 50px;
  color: white;
}
#disclaimer a{
    color: #f7d40a;
    text-decoration: none;
}
@media screen and (max-width: 800px){
  #top-text h1{
  font-size: 25px;
  }
  #top-text h2{
    font-size: 12px;
    padding-left: 16px;
    padding-bottom: 10px;
  }
  #top-gif img{
  height: 50vh;
  width: 85vw;
  z-index: 45;
  }
  #tribute-info p{
    font-size: 12px;
  }
  #third-event img{
    width: 150px;
    height: 150px;
  }
  #fourth-event img{
     width: 150px;
    height: 150px;
  }
  #fifth-event img{
    width: 150px;
    height: 150px;
  }
  #third-spacing, #fourth-spacing, #fifth-spacing{
  width: 150px;
  }
  #sixth-event img{
    padding-top: 30px;
    width: 220px;
    height: 180px;
  }
  #sixth-event p{
    width: 300px;
  }
  #disclaimer{
    font-size: 8px;
    padding-bottom: 20px;
  }
  #disclaimer p{
    width: 250px;
    margin: 0 auto;
  }
}
/*learn more page*/
#learn-more-intro{
  min-height: 700px;
  background-image: url("https://www.destructoid.com/wp-content/uploads/2020/12/275836-Persona-4-the-ANIMATION-17-Large-25.jpg");
  /*will fix the background in place*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content-desc{
  height: 1000px;
  font-family: "Kanit", sans-serif;
  background-color: #ffdc6b;
}
#sec-1{
  background: #ffdc6b;
  text-align: center;
  width: 100%;
  height: 30vh;
}
#sec-1 h1{
  font-size: 40px;
  padding-top: 50px;
  animation: 1s linear 1 title-ani;
}
#arrow{
  font-size: 50px;
  opacity: 0%;
  animation: 1s linear infinite arrow-move;
}
#sec-2
{
  width: 500px;
  margin: 0 auto;
}
.spacer{
  padding-bottom: 30px;
}
#sec-4 img{
  width: 150px;
  height: 250px;
}
#sec-4{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background-color: #ffdc6b;
  padding-bottom: 30px;
}
#sec-3 p{
  width: 500px;
  margin: 0 auto;
}
#sec-5{
  background: #ffdc6b;
  width: 100%;
  margin: 0 auto;
}
#sec-5 p{
  width: 500px;
  margin: 0 auto;
}
#sec-5 a{
  text-decoration: none;
  color: #f0ae16;
  font-weight: 600;
}
#sec-5 a:hover{
  color: white;
}
@keyframes arrow-move{
  0%{
    padding-top: 15px;
    opacity: 0%;
  }
  25%{
    padding-top: 11.25px;
    oapcity: 25%;
  }
  50%{
    padding-top: 7.5px;
    opacity: 50%;
  }
  75%{
    padding-top: 3.75px;
    opacity: 75%;
  }
  100%{
    padding-top: 0px;
    opacity: 100%;
  }
}
@keyframes title-ani{
  0%{
    opacity: 0%;
    padding-top: 70px;
  }
  50%{
    opacity: 50%;
    padding-top: 60px;
  }
  100%{
    opacity: 100%;
    padding-top: 50px;
  }
}
@media screen and (max-width: 800px){
  #sec-1 h1{
    font-size: 30px;
  }
  #arrow{
    font-size: 25px;
  }
  #content-desc{
  font-size: 15px;
  }
  #sec-3{
    width: 100%;
    margin: 0 auto;
    background: #ffdc6b;
  }
  #sec-2 p{
    width: 300px;
    margin: 0 auto;
  }
  #sec-2{
    width: 100%;
    margin: 0 auto;
    background: #ffdc6b;
  }
  #sec-3 p{
    width: 300px;
    margin: 0 auto;
  }
  #sec-4 img{
  width: 100px;
  height: 150px;
  }
  #sec-4{
    width: 100%;
    margin: 0 auto;
  }
  #sec-5 p{
    width: 300px;
    margin: 0 auto;
  }
   #sec-5 p{
    width: 300px;
    margin: 0 auto;
  }
}
