*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#intro{
  font-family: "Courier New";
  background-color: #fff5b8;
}
#name, #bottom-text, #img-caption, #timeline-title{
  text-align: center;
}
#spacer{
  padding-top: 50px;
}
#intro body{
  margin-top: 100px;
}
#image{
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
#bottom-text{
  padding-bottom: 20px;
  font-weight: 600;
}
#img-caption{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
}
#tribute-info{
  background-color: white;
  padding: 28px;
  padding-top: 60px;
}
#tribute-info p{
 max-width: 550px;
 margin: 0 auto;
 margin-bottom: 20px;
}
.bold{
  font-weight: 600;
}
#timeline-title{
  padding-top: 10px;
}
#tribute-info h2{
  font-size: 20px;
  padding-bottom: 10px;
}
#quote-part p{
  color: #bdbdbd;
  padding-top: 40px;
  font-size: 13px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
#quote-part{
  background-color: #0a0b2b;
}
#tribute-desc{
  background-color: #0a0b2b;
}
#tribute-desc p{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 650px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
@media screen and (max-width: 800px){
  img{
    width: 40%
  }
  #quote-part p{
    font-size: 75%;
    width: 75%;
  }
  #tribute-desc p{
    font-size: 95%;
    width: 75%;
  }
}
