*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*home page*/
body{
  font-family: "Kanit", "Courier New";
  background-color: black;
}
#name, #bottom-text, #img-caption, #timeline-title{
  text-align: center;
}
#home-gif{
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  opacity: 55%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#img-div{
  text-align: center;
}
#gif-text{
  position: relative;
  color: white;
  text-align: center;
  font-family: "Kanit", "Courier New"; 
  padding: 280px 100px;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
#gif-text h1{
  font-size: 75px;
}
#desc{
  padding-top: 20px;
}
#spacer{
  padding: 20px;
}
@media screen and (max-width: 800px){
  #gif-text{
  font-size: 75%;
  padding: 154px 60px;
  }
  #gif-text h1{
    font-size: 35px;
    padding-top: 150px;
    padding-right: 10px;
  }
}
/*life page*/
#top-gif img{
  height: 50vh;
  width: 100vw;
  z-index: 45;
}
#top-text{
  color: white;
  font-family: "Kanit", sans-serif;
  height: 50vh;
  width: 50vw;
}
#top-text h1{
  font-size: 50px;
}
#top-text h2{
  padding-left: 16px;
  padding-bottom: 20px;
}
#the-text{
  position: absolute;
  top: 50%;
  width: 100%;
}
/*credit to Raman Sharma for the fade in animation*/
.fadeInUp{animation:fadeInUp 2s ease backwards;}
@keyframes fadeInUp{
  0%{transform:translate(0px, 100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}
/*end of animation command*/
/*timeline*/
#tribute-info{
  background: linear-gradient(black 10%, #070930 90%);
  text-align: center;
}
#birth{
  padding-bottom: 50px;
}
#tribute-info p{
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 30px;
}
.bold{
  font-weight: 700;
}

#third-event img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-left: 20px;
}
#fourth-event img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-left: 20px;
}
#fifth-event img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding-right: 20px;
}
#sixth-event{
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}
#sixth-event img{
  padding-top: 30px;
  width: 420px;
  height: 300px;
}
@media screen and (max-width: 800px){
 

}
/*learn more page*/
#tribute-desc{
  background-color: #0a0b2b;
}
#tribute-desc p{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 650px;
  margin: 0 auto;
  text-align: center;
  color: white;
  }
