*{
  margin: 0;
  padding: 0;
}
#nav-bar{
  font-family: "Trebuchet MS";
  background: linear-gradient(
#f7b00a 25%, #f7d40a 95%);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
}
h1{
  font-size: 22px;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
}
button{
  font-size: 19px;
  display: inline-block;
  border: 0;
  font-weight: 800px;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(
#f7b00a 25%, #f7d40a 95%);
  padding-top: 15px;
  padding-bottom: 16px;
}
#home, #life, #gallery, #learn-more{
  position: relative;
  float: right;
}

button:hover{
  background: #f7d40a;
  color: white;
}
button:active{
  background-color: white;
  color: black;
}
#bar-ani{
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
  width: 500px;
  object-fit: none;
}
@media only screen and (max-width: 750px){
  h1{
    font-size: 75%
  }
  button{
    font-size: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  #bar-ani{
    height: 100%;
  }
}
