*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#nav-bar{
  position: relative;
  font-family: "Trebuchet MS";
  background-color: #f7d40a;
}
h1{
  font-size: 22px;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
}
button{
  font-size: 19px;
  display: inline-block;
  border: 0;
  font-weight: 800px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f7d40a;
  padding-top: 15px;
  padding-bottom: 16px;
}
#home, #life, #gallery, #learn-more{
  position: relative;
  float: right;
}

button:hover{
  background-color: #f7b50f;
  color: white;
}
button:active{
  background-color: white;
  color: black;
}
img{
  position: absolute;
  top: 0;
  left: 0;
  height: 55px;
  width: 500px;
  object-fit: none;
}
@media only screen and (max-width: 750px){
  h1{
    font-size: 75%
  }
  button{
    font-size: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  img{
    object-fit: cover;
  }
}
